In [2]:
## Install a pip package in the current Jupyter kernel
# import sys
# !{sys.executable} -m pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-0.24.2-cp38-cp38-win_amd64.whl (6.9 MB)
Collecting scipy>=0.19.1
  Downloading scipy-1.7.1-cp38-cp38-win_amd64.whl (33.7 MB)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.2.0-py3-none-any.whl (12 kB)
Collecting numpy>=1.13.3
  Downloading numpy-1.21.1-cp38-cp38-win_amd64.whl (14.0 MB)
Collecting joblib>=0.11
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=c86d3a21029b2b312ac80b11416adecde596ed6e6e82022e514bb804c7c335f7
  Stored in directory: c:\users\chand\appdata\local\pip\cache\wheels\22\0b\40\fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: numpy, threadpoolctl, scipy, joblib, scikit-learn, sklearn
Successfully installed joblib-1.0.1 numpy-1.21.1 scikit-learn-0.24.2 scipy-1.7.1 sklearn-0.0 threadpoolctl-2.2.0

In [19]:
## Install a pip package in the current Jupyter kernel
# import sys
# !{sys.executable} -m pip install matplotlib

Collecting pandas
  Downloading pandas-1.3.1-cp38-cp38-win_amd64.whl (10.4 MB)
Requirement already satisfied: pytz>=2017.3 in c:\users\chand\anaconda3\envs\r-tutorial\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\chand\anaconda3\envs\r-tutorial\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\chand\anaconda3\envs\r-tutorial\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: six>=1.5 in c:\users\chand\anaconda3\envs\r-tutorial\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.1

# 1. Reading data and Data preparation before resampling

In [2]:
# Reading data
import pandas as pd

emp_attr_data = pd.read_csv('employee attrition.csv',sep=',')
emp_attr_data.head()

,EmployeeID,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,Department,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,1,3,3,3.0,4.0,2.0,51,No,Travel_Rarely,Sales,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,2,2,4,3.0,2.0,4.0,31,Yes,Travel_Frequently,Research & Development,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,3,3,3,2.0,2.0,1.0,32,No,Travel_Frequently,Research & Development,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,4,2,3,4.0,4.0,3.0,38,No,Non-Travel,Research & Development,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,5,3,3,4.0,1.0,3.0,32,No,Travel_Rarely,Research & Development,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
len(emp_attr_data.index)

4410

In [4]:
# Removing null values
empdata = emp_attr_data.dropna()
len(empdata.index)

4300

In [5]:
empdata

,EmployeeID,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,Department,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,1,3,3,3.0,4.0,2.0,51,No,Travel_Rarely,Sales,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,2,2,4,3.0,2.0,4.0,31,Yes,Travel_Frequently,Research & Development,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,3,3,3,2.0,2.0,1.0,32,No,Travel_Frequently,Research & Development,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,4,2,3,4.0,4.0,3.0,38,No,Non-Travel,Research & Development,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,5,3,3,4.0,1.0,3.0,32,No,Travel_Rarely,Research & Development,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,4405,2,3,3.0,4.0,3.0,29,No,Travel_Rarely,Sales,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,4406,3,3,4.0,1.0,3.0,42,No,Travel_Rarely,Research & Development,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,4407,2,3,4.0,4.0,3.0,29,No,Travel_Rarely,Research & Development,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,4408,3,4,1.0,3.0,3.0,25,No,Travel_Rarely,Research & Development,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,4409,2,3,4.0,1.0,3.0,42,No,Travel_Rarely,Sales,...,0.0,Y,14,8,1,10.0,2,9,7,8

In [6]:
# understanding the imbalance in attrition column
empdata['Attrition'].describe()

count     4300
unique       2
top         No
freq      3605
Name: Attrition, dtype: object

In [7]:
# converting all categorical variables to numeric to get more accuracy

from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()

for i in empdata.columns:
    if isinstance(empdata[i][0],str):
        empdata[i] = encoder.fit_transform(empdata[i])

<ipython-input-7-884936ced8dc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  empdata[i] = encoder.fit_transform(empdata[i])

In [8]:
# Further skewing the data by making minority class from 695 to 95 values
empdata = empdata[empdata['Attrition']==0].append(empdata[empdata['Attrition']==1].head(95))
empdata

,EmployeeID,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,Department,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,1,3,3,3.0,4.0,2.0,51,0,2,2,...,1.0,0,11,8,0,1.0,6,1,0,0
2,3,3,3,2.0,2.0,1.0,32,0,1,1,...,1.0,0,15,8,3,5.0,2,5,0,3
3,4,2,3,4.0,4.0,3.0,38,0,0,1,...,3.0,0,11,8,3,13.0,5,8,7,5
4,5,3,3,4.0,1.0,3.0,32,0,2,1,...,4.0,0,12,8,2,9.0,2,6,0,4
5,6,3,3,3.0,2.0,2.0,46,0,2,1,...,3.0,0,13,8,0,28.0,5,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,543,3,3,1.0,2.0,3.0,28,1,1,1,...,1.0,0,14,8,0,1.0,3,1,0,0
543,544,3,3,4.0,3.0,3.0,50,1,1,1,...,3.0,0,14,8,0,5.0,3,0,0,0
555,556,3,3,1.0,4.0,3.0,39,1,1,2,...,7.0,0,14,8,1,21.0,2,18,11,5
570,571,4,3,3.0,3.0,3.0,18,1,0,1,...,1.0,0,18,8,0,0.0,5,0,0,0
571,572,2,3,1.0,1.0,3.0,33,1,2,1,...,0.0,0,14,8,0,6.0,2,5,0,3

In [76]:
columns = empdata.columns.tolist()
columns = [c for c in columns if c not in ["Attrition"]]
target = "Attrition"
X = empdata[columns]
y = empdata[target]
print(X.shape)
print(y.shape)

(3700, 28)
(3700,)

In [82]:
# summarize class distribution
counter = Counter(y)
print(counter)

Counter({0: 3605, 1: 95})

In [78]:
# evaluates a decision tree model on the imbalanced dataset
from numpy import mean
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold

# define model
model = DecisionTreeClassifier()
# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate model
scores = cross_val_score(model, X, y, scoring='roc_auc', cv=cv, n_jobs=-1)
# summarize performance
print('Mean ROC AUC: %.3f' % mean(scores))

Mean ROC AUC: 0.639

# 2.Manual combinations

### 2.1 Random undersampling and oversampling

In [11]:
# # Install a pip package in the current Jupyter kernel
# import sys
# !{sys.executable} -m pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.8.0-py3-none-any.whl (206 kB)
Requirement already satisfied: numpy>=1.13.3 in c:\users\chand\anaconda3\envs\r-tutorial\lib\site-packages (from imbalanced-learn) (1.21.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\chand\anaconda3\envs\r-tutorial\lib\site-packages (from imbalanced-learn) (1.7.1)
Requirement already satisfied: scikit-learn>=0.24 in c:\users\chand\anaconda3\envs\r-tutorial\lib\site-packages (from imbalanced-learn) (0.24.2)
Requirement already satisfied: joblib>=0.11 in c:\users\chand\anaconda3\envs\r-tutorial\lib\site-packages (from imbalanced-learn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\chand\anaconda3\envs\r-tutorial\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn) (2.2.0)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.8.0

In [79]:
# combination of random oversampling and undersampling for imbalanced classification
from numpy import mean
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler


# define model
model = DecisionTreeClassifier()

# define resampling
over = RandomOverSampler(sampling_strategy=0.1)
under = RandomUnderSampler(sampling_strategy=0.5)

# define pipeline
pipeline = Pipeline(steps=[('o', over), ('u', under), ('m', model)])

# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

# evaluate model
scores = cross_val_score(pipeline, X, y, scoring='roc_auc', cv=cv, n_jobs=-1)

# summarize performance
print('Mean ROC AUC: %.3f' % mean(scores))

Mean ROC AUC: 0.738

### 2.2 Random undersampling and SMOTE

In [81]:
# combination of SMOTE and random undersampling for imbalanced classification
from numpy import mean
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

# define model
model = DecisionTreeClassifier()

# define pipeline
over = SMOTE(sampling_strategy=0.1)
under = RandomUnderSampler(sampling_strategy=0.5)
steps = [('o', over), ('u', under), ('m', model)]
pipeline = Pipeline(steps=steps)

# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

# evaluate model
scores = cross_val_score(pipeline, X, y, scoring='roc_auc', cv=cv, n_jobs=-1)

# summarize performance
print('Mean ROC AUC: %.3f' % mean(scores))

Mean ROC AUC: 0.776

# 3.Predefined combinations

### 3.1 Tomek Links undersampling and SMOTE

In [84]:
# combined SMOTE and Tomek Links resampling for imbalanced classification
from numpy import mean
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from imblearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTETomek
from imblearn.under_sampling import TomekLinks

# define model
model = DecisionTreeClassifier()

# define resampling
resample = SMOTETomek(tomek=TomekLinks(sampling_strategy='majority'))

# define pipeline
pipeline = Pipeline(steps=[('r', resample), ('m', model)])

# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

# evaluate model
scores = cross_val_score(pipeline, X, y, scoring='roc_auc', cv=cv, n_jobs=-1)

# summarize performance
print('Mean ROC AUC: %.3f' % mean(scores))

Mean ROC AUC: 0.695

### 3.2 SMOTE and Edited Nearest Neighbors Undersampling

In [85]:
# combined SMOTE and Edited Nearest Neighbors resampling for imbalanced classification
from numpy import mean
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from imblearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

# define model
model = DecisionTreeClassifier()

# define resampling
resample = SMOTEENN()

# define pipeline
pipeline = Pipeline(steps=[('r', resample), ('m', model)])

# define evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

# evaluate model
scores = cross_val_score(pipeline, X, y, scoring='roc_auc', cv=cv, n_jobs=-1)

# summarize performance
print('Mean ROC AUC: %.3f' % mean(scores))

Mean ROC AUC: 0.826